# Python
venv/
__pycache__/
*.pyc
.pytest_cache/

# Docker
*.log
*.pid

# Данные контейнеров (появятся позже)
influxdb/data/
grafana/data/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env